<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Kollektiv Dashboard</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <script defer src="/static/js/graphs_es5.js"></script>
    <script defer src="/static/js/dashboard.js"></script>
</head>
<body>
    <h1>Dashboard</h1>
    <div class="panel" id = "">
        123
    </div>
    <div class="panel" id = "graphicalView">

    </div>
    <div class="panel" id="powerConsumptionGraph">

    </div>
    <div class="panel" id="roomData">

    </div>
    <div class="panel" id ="weatherData">
        
    </div>
    <div class="panel" id ="booking">

    </div>
</body>
</html>