<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width= , initial-scale=1.0">
        <title>Kollektiv Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="/static/css/dashboard.css"> <!-- loaded last to overload previous skeleton.css settings (margin for example) -->
        <script defer src="/static/dist/chart.js"></script>
        <script defer src="/static/js/dashboard.js"></script>
    </head>
    <body>
        <div class="panel" id = "Header">
            <h2>SMARTHYBEL DASHBOARD</h2>
        </div>
        <div class = "row">
            <div class="panel six columns" id="roomData">
                <div class = "row">
                    <table class="six columns">
                        <tr>
                            <th>Rom</th>
                            <th>Personer</th>
                            <th>kwh/24t</th>
                        </tr>
                        <!-- Her kommer generert info om rommene -->
                    </table>
                    <div class="six columns" id ="booking">
                        <h5>Booking</h5>
                        <form action="/api/bookRoom" method="post">
                            <label for="room_form">Velg rom</label>
                            </label>
                            <select name="room_form" id="room_form">
                                <option value="0">Bad</option>
                                <option value="1">Stue</option>
                                <option value="2">Kjøkken</option>
                            </select>
                            <label for="time">Start Tid</label>
                            <input type="time" name="time_start" id="timePickerStart" />
                            <label for="time">Slutt Tid</label>
                            <input type="time" name="time_end" id="timePickerEnd" />
                            <label for="name">Navn</label>
                            <select name="user_name" id="room_form">
                                <option value="1">William</option>
                                <option value="2">Fredrik</option>
                                <option value="3">Jens</option>
                                <option value="4">Bendik</option>
                                <option value="5">Erling</option>
                                <option value="6">Julenissen</option>
                            </select>
                            <br><br>
                            <input class="submitbutton" type="submit">
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel six columns" id="hybel">
                <div class="row roomRow">
                    <div class = "four columns room" id="kitchen">
                        Kjøkken
                    </div>
                    <div class="two columns room" id="entrance">
                        Trappegang
                    </div>
                    <div class="two columns room" id="bathroom">
                        Bad
                    </div>
                </div>
                <div class="row roomRow">
                    <div class = "two columns room" id="sleep1">
                        H1
                    </div>
                    <div class = "eight columns room" id="commonroom">
                        
                    </div>
                    <div class = "two columns room" id="sleep6">
                        H6
                    </div>
                </div>
                <div class="row roomRow">
                    <div class = "two columns offset-by-two room" id="sleep2">
                        H2
                    </div>
                    <div class = "two columns room" id="sleep3">
                        H3
                    </div>
                    <div class = "two columns room" id="sleep4">
                        H4
                    </div>
                    <div class = "two columns room" id="sleep5">
                        H5
                    </div>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class="panel ten columns" id = "powerConsumptionGraph">
                <div class="row">
                    <div class="six columns">
                        <canvas id="powerChart"></canvas>
                    </div>
                    <div class="six columns">
                        <canvas id="costChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="panel two columns" id ="weatherData">
                <img src="" alt="" id="weatherIcon">
                <table>
                </table>
            </div>
        </div>
    </body>
</html>